<!-- Directivas -->
<div
  [ngClass]="hayError ? 'error' : 'success'"
  [style.width]="size ? '100%' : '50%'"
>
  {{ title }}
</div>

<!-- Directivas estructurales -->
<div *ngIf="mostrarDiv">
  <span>Este texto se mostrara de acuerdo al valor de mostrarDiv</span>
  <p>
    <span
      >Este texto tambien se mostrara de acuerdo al valor de mostrarDiv</span
    >
  </p>
</div>

<ul>
  <li *ngFor="let p of ['México', 'Canada', 'Argentina']">
    {{ p }}
  </li>
</ul>

<div [ngSwitch]="valorSwitch">
  <span *ngSwitchCase="'valor1'">Valor 1</span>
  <span *ngSwitchCase="2">Valor 2</span>
  <span *ngSwitchCase="'valor3'">Valor 3</span>
</div>

